{% extends 'template-out.html' %}
{% block content %}
<div>
    <h1>esta es la vista de listado de eventos por cada usuario administrador falta el logueo de session para
    que muestre los concursos particulares a cada usuario </h1>
</div>

<div>

    <br>
    <br>

    <table border="1px">
        <td>Nombre</td>
        <td>start_date</td>
        <td>end_date</td>
        <td>path</td>
        <td>prize</td>
        <td>create_at</td>
        <td>author</td>
        <td>db id</td>
        <td>detail</td>
        <td>editar entrada</td>
        <td>eliminar entrada</td>
        {% for tut in tutorials %}
        <tr>
            <td>{{tut.name}}</td>
            <td>{{tut.startDate}}</td>
            <td>{{tut.endDate}}</td>
            <td>{{tut.path}}</td>
            <td>{{tut.prize}}</td>
            <td>{{tut.created_at}}</td>
            <td>{{tut.author}}</td>
            <td>{{tut.id}}</td>
            <td><a href="{% url 'contest-object-list' tut.id %}"><input type="button" value="ingresar"></a></td>
            <td><a href="{% url 'contest-update' tut.id %}"><input type="button" value="editar"></a></td>
            <td><a href="{% url 'contest-delete' tut.id %}"><input type="button" value="eliminar"></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}